.fighters.list
  .fighter_card
    .fighter_name
      %h3 Sub Zero
    .fighter_pic
      %image{src: 'http://www.gravatar.com/avatar?d=monsterid'}
    .fighter_detail
      .detail
        %span.live= image_tag 'healthcare-device.png'
        90
      .detail
        %span.strength= image_tag 'weightlifting.png'
        10
      .detail
        %span.fights= image_tag 'boxing-gloves.png'
        5
      .detail
        %span.wins= image_tag 'medal.png'
        5
  .fighter_card
    .fighter_name
      %h3 Sub Zero
    .fighter_pic
      %image{src: 'http://www.gravatar.com/avatar?d=monsterid'}
    .fighter_detail
      .detail
        %span.live= image_tag 'healthcare-device.png'
        90
      .detail
        %span.strength= image_tag 'weightlifting.png'
        10
      .detail
        %span.fights= image_tag 'boxing-gloves.png'
        5
      .detail
        %span.wins= image_tag 'medal.png'
        5
  .fighter_card
    .fighter_name
      %h3 Sub Zero
    .fighter_pic
      %image{src: 'http://www.gravatar.com/avatar?d=monsterid'}
    .fighter_detail
      .detail
        %span.live= image_tag 'healthcare-device.png'
        90
      .detail
        %span.strength= image_tag 'weightlifting.png'
        10
      .detail
        %span.fights= image_tag 'boxing-gloves.png'
        5
      .detail
        %span.wins= image_tag 'medal.png'
        5
  .fighter_card
    .fighter_name
      %h3 Sub Zero
    .fighter_pic
      %image{src: 'http://www.gravatar.com/avatar?d=monsterid'}
    .fighter_detail
      .detail
        %span.live= image_tag 'healthcare-device.png'
        90
      .detail
        %span.strength= image_tag 'weightlifting.png'
        10
      .detail
        %span.fights= image_tag 'boxing-gloves.png'
        5
      .detail
        %span.wins= image_tag 'medal.png'
        5